# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
myenv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build files
build/
dist/

# OS files
.DS_Store
Thumbs.db